#version=DEVEL
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
text
# Disable the Setup Agent on first boot
firstboot --disable
# System services
services --enabled="chronyd"
services --enabled="acpid"
xconfig --startxonboot
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=fr_FR.UTF-8

ignoredisk --only-use=disk/by-id/ata-SanDisk_SDSSDA240G_165362460403
# Network information
network  --bootproto=dhcp --device=enp0s31f6 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=maxwell.so

# System timezone
timezone America/New_York
user --groups=wheel --name=jpellman --iscrypted --gecos="John Pellman"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=disk/by-id/ata-SanDisk_SDSSDA240G_165362460403
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot/efi --fstype="efi" --ondisk=disk/by-id/ata-SanDisk_SDSSDA240G_165362460403 --size=200 --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="xfs" --ondisk=disk/by-id/ata-SanDisk_SDSSDA240G_165362460403 --size=1024
part pv.941 --fstype="lvmpv" --ondisk=disk/by-id/ata-SanDisk_SDSSDA240G_165362460403 --size=227711
volgroup cl --pesize=4096 pv.941
logvol swap  --fstype="swap" --size=1020 --name=swap --vgname=cl
logvol /  --fstype="xfs" --size=226688 --name=root --vgname=cl

%packages
@^minimal
@core
@^graphical-server-environment
@^virtualization-host-environment
@^development
chrony
kexec-tools
kernel-devel 
kernel-headers
dkms
yum-utils
virt-manager
virt-install
screen
htop
lm_sensors
whois
python2-pip
cups
%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end

%postinstall
# NVIDIA Driver Installation
echo "blacklist nouveau" >> /etc/modprobe.d/blacklist.conf
ln -s /usr/src/kernels/3.10.0-693.11.6.el7.x86_64 /usr/src/kernels/3.10.0-693.el7.x86_64
chmod +x /tmp/NVIDIA-Linux-x86_64-384.111.run
/tmp/NVIDIA-Linux-x86_64-384.111.run -s --dkms
# ZFS Driver Installation
yum install http://download.zfsonlinux.org/epel/zfs-release.el7_4.noarch.rpm
echo "zfs" >> /etc/modules-load.d/zfs.conf
yum-config-manager --disable zfs
yum-config-manager --enable zfs-kmod
yum install zfs
systemctl preset zfs-import-cache zfs-import-scan zfs-mount zfs-share zfs-zed zfs.target
%end
